<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    
    <div class="sidenav">
        @{
            var classRoomList = @DGSappSem2.Models.AssessmentBusiness.StudentViewModel.getClassRoomList();

        }

        @foreach (var item in classRoomList)
        {
            <button class="dropdown-btn">
                @item.GradeName
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                @foreach (var itemSubject in item.ClassRoomSubjectLists)
                {< <button class="dropdown-btn">
                        @itemSubject.SubjectName
                        <i class="fa fa-caret-down"></i>
                    </button>
                   <div class="dropdown-container">
                       @foreach (var itemTerm in itemSubject.TermLists)
                       {< <button class="dropdown-btn">
                               Term  @itemTerm.Name
                               <i class="fa fa-caret-down"></i>
                           </button>
                          <div class="dropdown-container">
                              @foreach (var itemAssessment in itemTerm.AssessmentLists)
                              {< <button class="dropdown-btn">
                                        @itemAssessment.AssessmentName
                                      <i class="fa fa-caret-down"></i>
                                  </button>
                              }
                              </div>
                               }
                           </div>
                       }
                   </div>
                }
            </div>
    <div  class="container main body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>