@model IEnumerable<DGSappSem2.Models.ViewModel.SubjectVM>
<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 5px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
    }

        .button1:hover {
            background-color: #4CAF50;
            color: white;
        }
    </style>
@{
    ViewBag.Title = "Index";
}

<h2> @ViewBag.gradeName </h2>

<p>
    @Html.ActionLink("Create New", "Create", new { classRoomId = @ViewBag.classRoomId })
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayName("Subject Name")
        </th>
        <th>
            @Html.DisplayName("Required Percentage")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequirementPercentage)
        </td>
        @foreach (var term in item.termLists)
        {
    <td>
        <a class="button button1"  href="@Url.Action("AssessmentList", "Assessments", new { subjectId = item.SubjectID, termId = term.TermID, gradeName =  @ViewBag.gradeName, termName = term.Name, subjectName = item.SubjectName })">Term @term.Name Assessments </a>

       @* @Html.ActionLink("View Assessment", "AssessmentList", "Assessments", new { subjectId = item.SubjectID, termId = term.TermID })*@
    </td>
        }
    </tr>
}

</table>
