@model DGSappSem2.Models.AssessmentBusiness.ReportVM

@{

    ViewBag.Title = "Detailed Report";
}
<h1>Class Report</h1>
<style>
    table {
        border-collapse: collapse;
    }

  /*  th, td {
        border: 1px solid;
        padding: 4px 8px;
    }*/
</style>
@{ 
    int plus(int h)
    {
        return h + 2;
    }
}
<div class="form-group">
  
    <table class="table">
        <tr>
            <th>
                Term  @Html.DisplayFor(model => model.TermName) -   @Html.DisplayFor(model => model.GradeName)
            </th>
        </tr>
        @foreach (var subject in Model.subjectList)
        {

            <tr>
                <td rowspan=@plus(@subject.assessments.Count)>
                    @Html.DisplayFor(model => subject.SubjectName)
                </td>

            </tr>
        }
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.StudentName)
                </td>
                <td>

                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
@*Average==sum/no.Students*@
        </table>
</div>

