@model DGSappSem2.Models.AssessmentBusiness.ReportVM

@{

    ViewBag.Title = "Summary Report";
}

<style>
    table {
        border-collapse: collapse;
       
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: teal;
        color: white !important;
    }

  /*  th, td {
        border: 1px solid;
        padding: 4px 8px;
    }*/
    hr {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
    } 
</style>
@{ 
    int plus(int h)
    {
        return h + 2;
    }
}

<div class="form-group">
    <h4>  Name :  @Html.DisplayFor(model => model.StudentName)</h4>
    <br />

    <h4>   Surname : @Html.DisplayFor(model => model.StudentSurname)</h4>
    <br />

    <h4>  Grade :   @Html.DisplayFor(model => model.GradeName)</h4>
    <br />

    <h4>  Term @Html.DisplayFor(model => model.TermName)</h4>
    <hr />
    <table class="table" >
        <tr>
            <th>
                @Html.DisplayName("Subjects")
            </th>
            <th>
                @Html.DisplayName("Total Mark")
            </th>
            <th>
                @Html.DisplayName("Average")
            </th>
            <th>
                @Html.DisplayName("Comment")
            </th>
        </tr>
        @foreach (var subject in Model.subjectList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => subject.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(model => subject.Mark)
                </td>
                <td>
                    @Html.DisplayFor(model => subject.Average)
                </td>
                <td>
                    @Html.DisplayFor(model => subject.Comment)
                </td>
            </tr>
        }

    </table>
</div>

