@model DGSappSem2.Models.AssessmentBusiness.Report

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Staffs.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staffs.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentAssessmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentAssessmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
